@media only screen {
    body
    {
      animation: rave 5s infinite;
    }
    @keyframes rave 
    {
          0%   {background-color:rgb(250, 161, 161);}
          25%  {background-color:rgb(251, 255, 189);}
          50%  {background-color:rgb(188, 243, 202);}
          75%  {background-color:rgb(199, 210, 255);}
          100% {background-color:rgb(255, 200, 219);}
    }
}
h1#title{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: gray;
    text-align: center;
    width: 100%;
    margin-top: 100px;
}

div.buttons{
    width: 100%;
    text-align: center;
    height: 100px;
}

#spin1, #spin2{
    padding: 20px;
    margin: 5px;
    color: white;
    background-color: magenta;
    border-radius: 5px;
    display: inline-block;
}

div.canvases{
    text-align: center;
}

#canvas1, #canvas2{
    display: inline-block;
}
